@import url('https://fonts.goolgeapis.com/css?family=Work+Sans');
body {
    margin: 0;
    font-family: 'Work Sans';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(26, 26, 26);
    color: lightcyan;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}